<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alien.dao.SimilarMapper">
    <insert id="insertSimilar" parameterType="com.alien.pojo.Similar">
        insert into portfolio_website.similar (item_id,similar) values (#{itemId},#{similar})
    </insert>

</mapper>